@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --header-height: 6rem;
    --header-background: #30303f;
    --hue-color: 250 ;
    --topBar-color: #000027;
    --main-hover: rgb(167, 167, 167);

    /* HSL color mode */
    --primary-color: hsl(var(--hue-color), 100%, 50%);
    --primary-color-second: hsl(var(--hue-color), 5%, 50%);
    --main-main-color: rgb(36, 34, 34);
    --primary-color-alternative: hsl(var(--hue-color), 60%, 0%);
    --primary-color-light: hsl(var(--hue-color), 7%, 51%);
    --title-color: hsl(var(--hue-color), 69%, 61%);
    --text-color: hsl(var(--hue-color), 8%, 30%);
    --text-color-light:hsl(var(--hue-color), 100%, 100%) ;
    --input-color: hsl(var(--hue-color), 7%, 25%);
    --body-color: rgb(238, 238, 238);
    --body-background-color: rgb(88, 86, 86);
    --container-color: rgb(149, 149, 149);

    --body-font : 'Poppins', sans-serif;

    --big-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .98rem;
    --small-font-size: .823rem;
    --smaller-font-size: .75rem ;
/* font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margenes Bottom */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

}

/* Font size for large devices */

@media screen and (max-width: 968px){
    :root{
        --big-font-size: 1.5rem;
        --h1-font-size: 1.25rem;
        --h2-font-size: 1rem;
    }
}

/* Base */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
    height: auto;
}

/* Reusable Css Classes */

section {
    padding: 0;
    margin: 0;
}
.section{
    padding: 1rem 0 1rem;
}

.section_title{
    font-size: var(--h1-font-size);
}

.section_subtitle{
    display: block;
    font-size: var(--small-font-size);
}

.section_title,
.section_subtitle{
    text-align: center;
}

/* LAYOUT */
.main-container {
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1;
}
.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

/* TOPBAR */
.topbar {
    width: 100%;
    height: 80px;
    background-color: var(--header-background);
    position: fixed;
    top: 0;
    z-index: 3;
}

.wrapper {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
}

.nav-wrapper-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    display: none;
}
  
.itemContainer .fas{
      margin-left: 16px;
      color: #9797ac;
  }
 .itemContainer span{
    color: #c4c4da;
  }
.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background: var(--header-background);
}
.nav-list-one{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding : 5px;
    background-color: var(--main-background-color);
    border-bottom: .2px solid var(--topBar-color);
    border-top: .1px solid var(--topBar-color)
}
.nav-list-one .list-items-one .fas,.fab{
    width: 50px;
    font-size: 25px;
    color: rgb(53, 54, 58);
} 

.social_icons{
    transition: .2s ease-in-out;
    border-radius: 80px;
}
.fas:hover{
    color: var(--main-hover);
}
.fab:hover{
    color: var(--main-hover);
}

/* HOME CONTENT */

.home_container{
    gap: .5rem;
}

.home_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 5.2rem;
    row-gap: 2rem;       
}

/* Home img */
.home_img {
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
    background-color: var(--main-main-color);
}

.home_social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home_data {
    display: flex;
    flex-direction: column;
}

.button--flex{
    align-self: flex-start;
}
.home_title{
    font-size: var(--big-font-size);
    color: var(--main-main-color);
}
.home_subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home_description{
   margin-bottom: var(--mb-2);
}

/* BUTTONS */
.button{
    display: inline-block;
    color: var(--main-main-color);
    background-color: var(--main-hover);
    padding: .8rem;
    border-radius: 5rem;
    font-weight: var(--font-medium);
}

.button_icon{
    margin-left: var(--mb-0-5);
    font-size: 1.1rem;
    transition: .3s;
}

.button--flex{
    display: inline-block;
    color: var(--main-main-color);
    cursor: pointer;
    padding: .2rem;
    border-bottom: .2px solid rgb(176, 176, 176);
    font-weight: var(--font-medium);
}

/* DETAILS */

.details_container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.details_content {
    text-align: center;
    align-items: center;
}
.details_container{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(235, 197, 197);
    padding: 0 20px;
}
.details_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.details_info p {
    max-width: 290px;
}
/* NEXT BUTTON */
.next {
    color: rgb(77, 77, 77);
    top: 10;
    bottom: 50px;
    right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: .2s ease-in;
}
.next:hover{
    color: #686363;
    background-color: rgb(255, 255, 255);
}

/* Projects button */

.projects {
    max-width: 150px;
    margin: 10px auto;
    border: .2px solid gray;
}
.home_buttons {
    display: none;
}
.site-image {
    width: 300px;
    height: 120px;
}
.hide {
    display: none;
}

.footer{
    margin-top: 20px;
}

.footer_bg{
    background-color: var(--header-background);
    padding: 10px
}

.footer_copy{
    font-size: var(--smaller-font-size);
    text-align: center;
    color: var(--text-color-light);
}

/* FOR MEDIUM DEVICES */

@media screen and (min-width: 768px){

    .main-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
    }
    .main {
        flex-grow: 1;
    }

    .container{
        margin-left: auto;
        margin-right: auto;
    }

    body{
        margin: 0;
    }

    .section{
        padding: 6rem 0 2rem; 
    }
    /* logo TOPBAR */
    .logo {
        display: contents;
        color: var(--topBar-color);
        font-size: 40px;
        font-weight: bold;
        text-decoration: none;
        margin-right: 60px;
    }
    /* Home content */
    .home_content{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: start;
        justify-content: center;
        padding-top: 3rem;
        column-gap: 2.5rem;
        row-gap: 2rem;       
    }
    .button--flex{
        align-self: flex-end;
    }
    /* Home image */
    .home_img {
        width: 200px;
        height: 200px;
        background-color: var(--main-main-color);
        border-radius: 90% 40% 59% 0%;
    }
    
    .home_img img{
        background-color: var(--main-hover);
        border-radius: 50% 40% 50% 60%;
    }

    /* Details */
    .details {
        position: relative;
        background-color: #686363;
        padding: 5px 0;
    }
    .details_data {
        flex-direction: row;
        text-align: center;
        align-items: flex-start;
        justify-content: center;
        padding-bottom: 15px;
    }
    .details_info{
        display: flex;
        text-align: left;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 10px;
    }
/* HOME BUTTONS SECTION */
    .home_buttons{
        display: contents;
    }
    .home_buttons_content {
        display: flex;
        background-color: #686363;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 10px;
    }
    .button-float{
        border-bottom: .2px solid rgb(176, 176, 176);
        cursor: pointer;
    }

    .home_buttons_data{
        padding: 20px;
    }
    .home_buttons_data:hover{
        background-color: gray;
    }

    .details_button p{
        color: white;
        padding: 5px 15px; 
    }
    .button_active {
        border-right: .2px solid rgb(88, 88, 88);
        border-left: .2px solid rgb(95, 95, 95);
        background-color: rgb(63, 62, 62);
    }
        /* NEXT BUTTON */
    .next {
        color: white;
        border-radius: 2px;
        top: 10;
        bottom: 50px;
        right: 10px;
        position: absolute;
        background-color: #686363;
        padding: 5px 10px;
        border: .2px solid white; 
        cursor: pointer;
        transition: .2s ease-in;
        outline: .3px solid pink;
        box-shadow: 1px 3px 6px rgb(255, 255, 255);
    }
    .next:hover{
        color: #686363;
        background-color: rgb(255, 255, 255);
        outline: .3px solid pink;
        border-color: gray;
    }
    .projects{
        display: none;
    }
}