@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --header-height: 3rem;
    --header-background:  #30303f; 
    --topBar-color: #000027;
    --main-hover: rgb(0, 4, 255);

    /* HSL color mode */
    --title-color: #0B0A0A;
    --text-color: #403a3a;
    --text-color-light: #333333;
    --text-color-light-alt: #000000;
    --active-color: #d0a75c;
    --body-color: rgb(255, 244, 148);
    --body-background-color: rgb(88, 86, 86);
    --container-color: rgb(149, 149, 149); 

    --body-font : 'Poppins', sans-serif;

    --big-font-size: 5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .98rem;
    --small-font-size: .823rem;
    --smaller-font-size: .75rem ;
/* font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margenes Bottom */
    --mb-1: .5rem;
    --mb-2: 1rem; 
    --mb-3: 1.5rem;

    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Font size for large devices */

@media screen and (max-width: 968px){
    :root{
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* Base */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

body.scale-cv{
    --h1-font-size: .938rem;
    --h2-font-size: .938rem;
    --h3-font-size: .875rem;
    --normal-font-size: .813rem;
    --small-font-size: .75rem;
    --smaller-font-size: .688rem;
}
h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
    height: auto;
}

.section{
    padding: 1.5rem 0; 
}

.section-title{
    font-size: var(--h2-font-size);
    color: var(--title-color);
    text-transform: uppercase;
    letter-spacing: .35rem;
    text-align: flex-start;
    margin-bottom: var(--mb-3);
}

/* LAYOUOT */

.bd-container{
    max-width: 100%;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}

.bd-grid{
    display: grid;
    gap: 1.5rem;
}

.l-header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--header-background);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.513);
    transition: .3s;
}

/* TOPBAR NAV */
.topbar {
    width: 100%;
    height: 80px;
    background-color: var(--header-background);
    position: fixed;
    top: 0;
    z-index: 3;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.topbar .wrapper {
    padding: 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.topbar .wrapper .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .topbar .wrapper .left .logo {
    color: var(--topBar-color);
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 60px;
}

.topbar .wrapper .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .topbar .wrapper .left .logo {
    color: var(--topBar-color);
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 60px;
  }

  .topbar .wrapper .left .itemContainer .fas{
    margin-left: 16px;
    color: #9797ac;
}
.topbar .wrapper .left .itemContainer span{
  color: #c4c4da;
}
.header{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background: var(--header-background);
}
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 968px){
    .nav_menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        padding: 2rem 1.5rem;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .1);  
        background-color: rgb(216, 218, 149);
        border-radius: 1rem 1rem 0 0;
        z-index: var(--z-fixed);
        transition: .5s;
    }

    .home_container{
        margin-top: 6rem;
    }
}

.nav_toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav_logo,
.nav_toggle{
    font-size: 1.2rem;
     cursor: pointer;
}  

.nav_list{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 2rem;
}

.nav_link{
    display: flex;
    flex-direction: column;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    font-weight: var(--font-medium);
}

.nav_link:hover{
    color: var(--title-color);
}

.nav_icon{
    font-size: 1.2rem;
    margin-bottom: var(--mb-1);
}

.show_menu{
    bottom: var(--header-height);
}
.active_link{
    color: var(--active-color);
}

/* HOME SECTION */

.home{
    position: relative;
}

.home_container{
    gap: 3rem;
}

.home_data{
    gap: .5rem;
    text-align: center;
}

.home_img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    justify-self: center;
    margin-bottom: var(--mb-1);
}

.home_title{
    font-size: var(--h1-font-size);
}

.home_profession{
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-1);
}

.home_address{
    gap: 1rem;
}

.home_information{
    display: flex;
    align-items: center;
    font-size: var(--small-font-size);
}

.home_icon{
    font-size:  1.2 rem;
    margin-right:  .25rem;
}

.home_button_movil{
    display: inline-block;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    padding: 1rem 2rem;
    font-weight: var(--font-medium);
    border-radius: 5px;
    margin-top: var(--mb-3);
    transition: .3s;
}

.home_button_movil:hover{
    background-color: var(--text-color);
    color: var(--container-color);
}

.social_container{
    grid-template-columns: mac-content;
    gap: 1rem;
}

.social_link{
    display: inline-block;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.social_link:hover{
    color: var(--title-color);
}
.social_icons{
    font-size: 1.2rem;
    margin-right: .25rem;
}

/* PROFILE */
.profile-content{
    width: 100%;
}
.profile_description{
    width: 40%;
    padding: 1rem;
}

/* EDUCATION AND EXPERIENCE */

.education_content{
    display: flex;
}

.education_time{
    padding-right:  1rem;
}

.education_rounder{
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--text-color);
    border-radius: 50%;
    margin-top: .2rem;
}

.education_line{
    display: block;
    width: 2px;
    height: 110%;
    background-color: var(--text-color);
    transform: translate(7px, 0)
}

.education_data{
    gap: .5rem;
}

.education_title{
    font-size: var(--h3-font-size);
}

.education_studies{
    font-size: var(--small-font-size);
    color: var(--title-color);
}

.education_year{
    font-size: var(--smaller-font-size);
}

/* SKILLS AND LANGUAGES */

.skills_content,
.languages_content{
    display: flex;
}

.skills_name,
.languages_name{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-3);
}

.certificate_title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
}

/* REFERENCES */

.references_subtitle,
.references_contact{
    font-size: var(--smaller-font-size);
}

.references_title{
    font-size: var(--h3-font-size);
}

/* INTERESTS */

.interests_container{
    display: flex;
    margin-top: var(--mb-2);
}

.interest_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.interests_icon{
    font-size: 1rem;
    color: var(--text-color-light-alt);
    margin-bottom: .25rem;
}

.interest_name{
    color: var(--text-color-light-alt);
}

/* MEDIA QUERIES */

/* for small devices */

@media screen and (max-width: 320px){
    .nav_list{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem .5rem;
    }
}

/* classes modified for large screen size */

@media screen and (min-width: 968px){
    body{
        margin: 3rem 0
    }


    .bd-container{
        margin-left: auto;
        margin-right: auto;
    }

    .l-header,
    .scrolltop{
        display: none;
    }

    .resume{
        margin-top: 6rem;
        display: grid;
        grid-template-columns: .5fr 1fr;
        box-shadow: 0 0 8px rgba(13, 12, 12, .15);
    }
    .generate-pdf{
        display: inline-block;
    }


}

.scroll_header{
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
}
.home_scroll{
    display: none;
}
.home_scroll_button{
    color: var(--primary-color);
    transition: .3s;
}


.home_scroll_button:hover{
    transform: translateY(.25rem);
}

.home_scroll_mouse{
    font-size: 2rem;
    color: var(--primary-color);
}

.home_scroll_name{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home_scroll_arrow{
    color: var(--title-color);
    font-size: 1.5rem;
    background-color: transparent;
}

/* Generate PDF */

.generate-pdf{
    position: aboslute;
    top: 2.2rem;
    left: 0;
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
}

.generate-pdf:hover{
    color: var(--text-color-light);
}
/* REDUCE PRINT TO A4 SCREEN */

.scale-cv .change-theme,
.scale-cv .generate-pdf{
    display: none;
}

.scale-cv .bd-container{
    max-width: 595px;
}

.scale-cv .section-title{
    margin-bottom: .75rem;
}

.scale-cv .resume_left,
.scale-cv .resume_right{
    padding: 0 1rem;
}

.scale-cv .home_img{
    width: 90px;
    height: 90px;
}

.scale-cv .home_container{
    gap: 1.5rem;
}

.scale-cv .home_data{
    gap: .25rem;
}

.scale-cv .home_address,
.scale-cv .social_container{
    gap: .75rem;
}

.scale-cv .home_icon,
.scale-cv .social_icons,
.scale-cv .interests_icon{
    font-size: 1rem;
}

.scale-cv .education_container,
.scale-cv .certificate_container{
    font-size: 1rem;
}

.scale-cv .education_time{
    padding-right: .5rem;
}

.scale-cv .education_rounder{
    width: 11px;
    height: 11px;
    margin-top: .22rem;
}

.scale-cv .education_line{
    width:  1px;
    height: 11px;
    transform: translate(5px, 0);
}

.scale-cv .education_data{
    gap: .25rem;
}

.scale-cv .skills_name{
    margin-bottom: var(--mb-1);
}

.scale-cv .interests_container{
    column-gap: 2.5rem;
}


/* // ================================= CHANGE THEME */

body.dark-theme{
    --title-color: #f2f2f2;
    --text-color: #bfbfbf;
    --body-color: rgb(36, 36, 36);
    --body-background-color: rgb(41, 41, 41);
    --container-color: rgb(149, 149, 149); 
    --container-color-alt: rgb(68, 67, 67); 
}

.change-theme{
    position: absolute;
    right: 0;
    top: 2.2rem;
    display: flex;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin: 1rem;
}

.change-theme:hover{
    color: var(--title-color);
}

.footer{
    padding-top: 2rem;
}

.footer_container{
    row-gap: 3.5rem;
}

.footer_bg{
    background-color: var(--primary-color-alternative);
    padding: 2rem 0 3rem;
}

.footer_title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer_subtitle{
    font-size: var(--small-font-size);
}

.footer_links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5;
}

.footer_link:hover{
    color: var(--primary-color);
}

.footer_social{
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}

.footer_social:hover{
    color: var(--primary-color);
}

.footer_copy{
    font-size: var(--smaller-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: var(--mb-3);
}

.footer_title,
.footer_subtitle,
.footer_link,
.footer_social{
    color: #fff;
}

.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--primary-color);
    opacity: .8;
    padding: 0;
    border-radius: .6rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    color: main-color;
}

.scrollup:hover{
    font-size: 1.5rem;
}

.scrollup_icon{
    font-size: 1.5rem;
    color: #fff; 
    background-color: transparent;
}

.show_scroll{
    bottom: 5rem;
}
.back_icon{
    font-size: 1rem;
    color: gray;
    padding-right: 1rem;
    cursor: pointer;
    transition: .1s;
}

.back_icon:hover{
    color: white;
}

/* CERTIFICATE  */

.certificate_container{
    width: 100%;
}

.certificate_content{
    width: 60%;
    padding: 1rem;
}
